
   {% extends 'frontend/layouts/base.html.twig' %}
{% block content %}
    <main class="main contact-two mb-4">
        <nav aria-label="breadcrumb" class="breadcrumb-nav sticky-header p-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Connexion</li>
                </ol>
            </div><!-- End .container -->
        </nav>



        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <h2 class="ls-0 mb-1 pb-1"><strong>Connexion</strong></h2>
                    {% if error %}
                        <div class="alert alert-danger">Le nom de l'utilisateur ou mot de passe incorrecte </div>
                    {% endif %}
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group required-field">
                                    <label for="contact-username">Nom de l'utilisateur</label>
                                    <input type="text"  name="_username" value="{{ last_username }}" class="form-control"
                                           autocomplete="username" autofocus required>
                                </div><!-- End .form-group -->
                            </div>

                            <div class="col-md-12">
                                <div class="form-group required-field">
                                    <label for="contact-password">Mot de passe</label>
                                    <input type="password" class="form-control" name="_password" autocomplete="current-password"
                                           required>


                                </div><!-- End .form-group -->

                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>


                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div><!-- End .form-footer -->
                    </form>
                </div><!-- End .col-md-8 -->


            </div><!-- End .row -->
        </div><!-- End .container -->
    </main><!-- End .main -->


{% endblock %}
