<footer class="footer">
    <div class="container">
        <div class="feature-boxes-container">
            <div class="row">
                <div class="col-md-4">

                    <!-- End .feature-box -->
                    <div class="feature-box feature-rounded">
                        <i class="sicon-basket-loaded"></i>

                        <div class="feature-box-content mt-2">
                            <h3>LIVRAISON À DOMICILE</h3>
                        </div>
                        <!-- End .feature-box-content -->
                    </div>
                    <!-- End .feature-box -->
                </div>
                <!-- End .col-md-4 -->

                <div class="col-md-4">
                    <div class="feature-box feature-rounded">
                        <i class="sicon-present "></i>

                        <div class="feature-box-content mt-2">
                            <h3>PROMOTIONS EXCLUSIVES</h3>
                        </div>
                        <!-- End .feature-box-content -->
                    </div>
                    <!-- End .feature-box -->
                </div>
                <!-- End .col-md-4 -->

                <div class="col-md-4">
                    <div class="feature-box feature-rounded">
                        <i class="sicon-wallet"></i>

                        <div class="feature-box-content mt-2">
                            <h3>PAIEMENT EN ESPÈCE À LA LIVRAISON</h3>
                        </div>
                        <!-- End .feature-box-content -->
                    </div>
                    <!-- End .feature-box -->
                </div>
                <!-- End .col-md-4 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .section-6 -->

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="widget widget-newsletter mb-0">
                        <h4 class="widget-title">RECEVOIR NOS NEWSLETTERS</h4>
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12 mb-1">
                                <p class="mb-0">Recevez nos dernieres annonces.Pour ne rien manquez de nos offres.</p>
                            </div>
                            <!-- End .col-lg-6 -->

                            <div class="col-lg-6 col-md-12 mb-1">
                                 {{ form_start(formNewsletter(),{'attr':{'class':'d-flex mb-0 w-100'}}) }}
                                   {{ form_widget(formNewsletter().email,{'attr':{'class':'form-control mb-0','placeholder':'Entrer votre email'}}) }}
                                    <input type="submit" class="btn btn-primary shadow-none" value="S'inscrire">
                                 {{ form_start(formNewsletter()) }}
                            </div>
                            <!-- End .col-lg-6 -->
                        </div>
                        <!-- End .row -->
                    </div>
                    <!-- End .widget -->

                    <div class="row mt-5">
                        <div class="col-sm-5">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4>

                                <div class="links link-parts row mb-0">
                                    <ul class="link-part col-lg-6 col-md-12">
                                        <li><a href="demo10-about.html">About us</a></li>
                                        <li><a href="demo10-contact.html">Contact us</a></li>
                                        <li><a href="login.html">My account</a></li>
                                    </ul>
                                    <ul class="link-part col-lg-6 col-md-12">
                                        <li><a href="{{ path('app_faq') }}">Faqs</a></li>
                                        <li><a href="#">Advanced search</a></li>
                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-sm-6 -->

                        <div class="col-sm-7">
                            <div class="widget">
                                <h4 class="widget-title">About Us</h4>

                                <div class="links link-parts row mb-0">
                                    <ul class="link-part col-lg-6 col-md-12">
                                        <li><a href="#">Super Fast Html Template</a></li>
                                        <li><a href="#">1st Fully working Ajax Theme</a></li>
                                        <li><a href="#">36 Unique Shop Layouts</a></li>
                                    </ul>
                                    <ul class="link-part col-lg-6 col-md-12">
                                        <li><a href="#">Powerful Admin Panel</a></li>
                                        <li><a href="#">Mobile & Retina Optimized</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-sm-6 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .col-lg-9 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .footer-middle -->

    <div class="container">
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <p class="footer-copyright py-3 pr-sm-4 pr-0 mb-0">Porto eCommerce. &copy; 2021. All Rights Reserved
            </p>

            <img src="frontend/assets/images/demoes/demo10/payments.png" alt="payment methods" class="footer-payments py-3">
        </div>
        <!-- End .container -->
    </div>
    <!-- End .footer-bottom -->
</footer>
<!-- End .footer -->
<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>