{% extends 'frontend/layouts/base.html.twig' %}
{% block content %}
    <main class="main contact-two mb-4">
        <nav aria-label="breadcrumb" class="breadcrumb-nav sticky-header p-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Politique de confidentialité</li>
                </ol>
            </div><!-- End .container -->
        </nav>


        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <h2 class="mt-2 mb-1">Politique de confidentialité </h2>
                    <div id="accordion">
                        <div id="accordion">
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Quelles sont les Données Collectées ?
                                </a>

                                <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                                    <p>Lors de l’enregistrement, de la commande ou de la prise de contact avec Faem,
                                        des informations à caractère personnel, telles que votre nom, votre adresse
                                        email et votre numéro de téléphone, peuvent vous être demandées. Vous avez bien
                                        entendu la possibilité de refuser de communiquer ces informations. Dans ce cas,
                                        Faem ne sera plus en mesure de vous fournir les produits, services ou
                                        informations souhaités. Aucune donnée bancaire n’est enregistrée par la société
                                        Faem.</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Données à Caractère Technique
                                </a>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                    <p>Lorsque vous accédez à notre site internet, des données à caractère technique
                                        sont consignées dans les fichiers journaux propres au serveur, à savoir
                                        l’adresse IP, l’URL d’origine, la date et l’heure, la version du navigateur et
                                        le système d’exploitation utilisé. En outre, des cookies sont parfois envoyés
                                        sur le disque dur de votre ordinateur. Les cookies sont des petits fichiers
                                        textes enregistrés temporairement sur votre disque dur et pouvant contenir des
                                        informations concernant votre visite sur notre site Internet. Ils facilitent
                                        votre navigation et permettent de personnaliser l’affichage du site pour plus de
                                        convivialité. Ces données sont à caractère technique et ne sont jamais
                                        nominatives. Seules des statistiques anonymes sont établies.</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Statistiques de Navigation
                                </a>
                                <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                                    <p>Afin d’améliorer l’ergonomie de notre site Internet, nous collectons des données
                                        sur la navigation à des fins statistiques. Nous avons recours pour cela aux
                                        services de Google Analytics. à partir de ces données, des profils d’utilisation
                                        sont créés et des pseudonymes leur sont attribués. Les données sont collectées
                                        et enregistrées sous un pseudonyme uniquement. Les données ne sont pas utilisées
                                        afin d’identifier personnellement le visiteur de ce site Internet ni afin
                                        d’établir un rapprochement avec les informations personnelles du porteur du
                                        pseudonyme. Il est ainsi garanti qu’aucun rapprochement aux données du protocole
                                        mentionné ci-dessus ou à celles du profil d’utilisateur ne puisse être
                                        établi.</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Suppression des Données Collectées

                                </a>

                                <div id="collapseFour" class="collapse" data-parent="#accordion" style="">
                                    <p>Toutes les informations que nous recueillons auprès de vous peuvent être
                                        utilisées pour :
                                    <ul class="fa-ul">
                                        <li><i class="fa-li fa fa-check-circle"></i>Personnaliser votre expérience et
                                            répondre à vos besoins
                                        </li>
                                        <li><i class="fa-li fa fa-check-circle"></i>Fournir un contenu publicitaire
                                            personnalisé
                                        </li>
                                        <li><i class="fa-li fa fa-check-circle"></i>Améliorer notre site Web</li>
                                        <li><i class="fa-li fa fa-check-circle"></i>Améliorer le service client et vos
                                            besoins de prise en charge
                                        </li>
                                        <li><i class="fa-li fa fa-check-circle"></i>Vous contacter par e-mail</li>
                                        <li><i class="fa-li fa fa-check-circle"></i>Administrer un concours, une
                                            promotion, ou une enquête
                                        </li>
                                    </ul>

                                    </p>

                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Utilisation des Informations

                                </a>

                                <div id="collapseFive" class="collapse" data-parent="#accordion" style="">
                                    <p>Lors de l’enregistrement, de la commande ou de la prise de contact avec Faem,
                                        des informations à caractère personnel, telles que votre nom, votre adresse
                                        email et votre numéro de téléphone, peuvent vous être demandées. Vous avez bien
                                        entendu la possibilité de refuser de communiquer ces informations. Dans ce cas,
                                        Faem ne sera plus en mesure de vous fournir les produits, services ou
                                        informations souhaités. Aucune donnée bancaire n’est enregistrée par la société
                                        Faem.</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Protection des Informations
                                </a>
                                <div id="collapseSeven" class="collapse" data-parent="#accordion" style="">
                                    <p>Nous mettons en œuvre une variété de mesures de sécurité pour préserver la
                                        sécurité de vos informations personnelles. Nous utilisons un cryptage à la
                                        pointe de la technologie pour protéger les informations sensibles transmises en
                                        ligne. Nous protégeons également vos informations hors ligne. Seuls les employés
                                        qui ont besoin d’effectuer un travail spécifique (par exemple, la facturation ou
                                        le service à la clientèle) ont accès aux informations personnelles
                                        identifiables. Les ordinateurs et serveurs utilisés pour stocker des
                                        informations personnelles identifiables sont conservés dans un environnement
                                        sécurisé.</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Se Désabonner
                                </a>

                                <div id="collapseSix" class="collapse" data-parent="#accordion" style="">
                                    <p>Nous utilisons l’adresse e-mail que vous fournissez pour vous envoyer des
                                        informations et mises à jour relatives à votre commande, des nouvelles de
                                        l’entreprise de façon occasionnelle, des informations sur des produits liés,
                                        etc. Si à n’importe quel moment vous souhaitez-vous désinscrire et ne plus
                                        recevoir d’e-mails, des instructions de désabonnement détaillées sont incluses
                                        en bas de chaque e-mail.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- End .row -->
        </div><!-- End .container -->
    </main><!-- End .main -->


{% endblock %}
